<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://af-sms-send-nonprod-zan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b44ed40d-3b2d-499b-9c38-4ee363ca9811/resourceGroups/RG-NONPROD-DNC-ZAN/providers/Microsoft.Web/sites/AF-SMS-SEND-NONPROD-ZAN</ResourceId>
    <UserName>$AF-SMS-SEND-NONPROD-ZAN</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://af-sms-send-nonprod-zan.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>